@charset "utf-8";

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter/Inter-Regular.ttf");
}
@font-face {
  font-family: Staatliches;
  src: url("./fonts/Staatliches/Staatliches-Regular.ttf");
}
@font-face {
  font-family: Poppings;
  src: url("./fonts/Poppngs/Poppins-Medium.ttf");
}
*{
  font-family: Inter;
  /*line-height: 20px;*/
}
html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 5em;
}

body{
  padding: 0;
  margin: 0;
  background-color: #000008;
  color: #f4f4f4;
  
}

nav#menu{
  background-color: #404040;
}

ul#nav{
  margin: 0;
  list-style:none;
  height: 44px;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  overflow: hidden;
}
ul#nav li a{
  color: #f31173;
  font-weight: bol;
  text-decoration: none;
  padding: 5px;
  background-color: #404040;
  transition: .3s;
  padding:20px;
}
ul#nav li a:hover{
  /*background-color: #f2e029;*/
  color: #f2e029;
  transition: .3s;
}
ul#nav li{
  display: inline-block;
  margin-top: 10px
  
}

div.innerface{
  padding: 15px;
}
div.innerface{
  text-align: justify;
}

div#footer{
  padding: 0;
}

div#footer > div#agrade > ul > li > a{
  color: #fff;
  transition: .2s;
  text-decoration: none;
}
div#footer > .content-foot > div#agrade > ul > li > a:hover{
  color:blue;transition: .3s;
}
div#footer > .content-foot > div#agrade > ul > li > a{
  transition: .3s;
}
div.content-foot{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 960px) {

}
@media screen and (min-width: 780px) {
  ul#nav{
    justify-content: center;
  }
}
@media screen and (min-width: 650px) {
  div.content-foot{
    display: flex;
    justify-content: space-evenly;
  }
  
}
