@charset "utf-8";

.loading{
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#000;
}

div.gameRow--listarea{
    display:flex;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #111;
    transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
}
div.image img{
    height: 250px;
    position: relative;
    top: -50%;
    left: -60%;
}
div.gameRow--itemarea{
    transition: .4s;
    overflow: hidden;
    border-radius: 7px;
    height: 250px;
    width: 250px;
    transform: scale(0.9);
}
div.gameRow--itemarea:hover{
    transform: scale(1);
}
div.image img{
    transition: .4s;
}
span.title{
    margin-top: -50px;
    position:fixed;
    opacity: 0;
    color: aqua;
    transition: .4s;
}
div.gameRow--itemarea:hover span.title{
    opacity: 1;
    transition: .4s;
}
.uniImg{
    width:500px;
}
@media screen and (max-width: 750px){
    div.gameRow--itemarea{
        height: 200px;
        width: 200px;
    }
}
@media screen and (max-width: 650px){
    div.gameRow--itemarea{
        height: 175px;
        width: 175px;
    }
}