@charset "utf-8";

.gameRow--left,
.gameRow--right{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #00000099;
    padding:10px;
    z-index: 99;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 7%;
}
.gameRow--right{
    right: 20px;
}
.gameRow--left{
    left: 20px;
}