@charset "utf-8";

div#body {
    padding: 0 !important;
}
div.imgs{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    position: relative;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 30px;
}
.container .card{
    border-radius: 7px;
    width: 300px;
    height: 215px;
    position: relative;
    background: #404040;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
}
.container .card:hover{
    height: 420px;
}
.container .card .imgBox{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 25px #000000a1;
    border-radius: 25px 0px 25px 0px;
}

.container .card .imgBox img{
    max-width: 100%;
    border-radius: 25px 0px 25px 0px;
}
/*.container .card .imgBox{
    
    overflow: hidden;
}*/
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}
.container .card .content h2{
    font-family: Poppings;
    color: #f31173;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -60px;
    transition-delay: .3s;
}
div.content p{
    text-align: left;
    margin: 12px 0;
}
a.icon{
    margin: 5px;
}
.loading{
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#000;
}
@media screen and (max-width: 400px) {
    .container{
      transform: scale(0.6);
      margin: 10px 0px;
      padding: 0px;

    }
    div.main{
        margin-top: 20px;
        overflow-x: hidden;
    }
    /*div.img*/
  }