@charset "utf-8";

div#view{
    padding: 10px;
}

div.gameRow--listarea{
    display: flex;
    overflow-x: hidden;
    transition: .4s;
}
div.image img{
    height: 200px;
    position: relative;
    /*top: -50%;
    left: -30%;*/
}
div.image{
    display: flex;
    justify-content: center;
}
div.gameRow--itemarea{
    width: 200px;
    height: 200px;
    overflow: hidden;
    transform: scale(.9);
    box-shadow: 3px 3px 7px #000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
}
div.gameRow--itemarea:hover{
    transform: scale(1);
    transition: .3s;
    box-shadow: 3px 3px 20px #000;
}

.local-photo-init #img-main{
    width: 100%;
    /*display: block;
    margin: auto;*/
}
.local-photo-init{
    margin: auto;
}

span.title{
    /*margin-top: -50px;*/
    bottom: 6%;
    left: 3%;
    position: fixed;
    opacity: 0;
    text-align: left;
    color: #000008;
    font-weight: bolder;
    transition: .4s;
    text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,                    
                1px -1px 0px #FFF,                  
                1px 0px 0px #FFF;
}
div.gameRow--itemarea:hover span.title{
    opacity: 1;
    transition: .4s;
}
div#content{
    display: block;
    width: 99%;
    max-width: 900px;
    margin: auto;
}
div#title-main-uni{
    max-width: 500px;
    display: block;
}
div#title-main-uni h1{
    text-align: right;
}
div#requirements{
    font-size: small;
    background-color: #333;
    padding: 10px;
    height: 250px;
    max-width: 300px;
    overflow-y: scroll;
    margin: auto;
}
div#website{
    width: 200px;
    margin: auto;
    padding: 5px;
}

div#website > .webimg{
    background-color: #404040;
    padding: 10px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
img.websiteLogo{
    width: 50px;
}

div#content{
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 600px;
}

div#short-aval{
    max-width: 500px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /*border-radius: 10px;*/
    padding: 10px;
    background-color: #333;
}
img#starsvg{
    width: 200px;
}

div#gameheader{
    max-width: 500px;
    overflow: hidden;
    padding: 0%;
    margin: auto;
    border-radius: 20px;
    
}

@media screen and (max-width: 300px){
    div#title-main-uni h1{
        font-size: 1.9em;
    }
}