@charset "utf-8";

section#cont{
    max-width: 1000px;
    margin: auto;
}
article.text{
    max-width: 500px;
    min-width: 300px;
    margin: 30px;
}
article.homeimg{
    display: flex;
    align-items: center;
}
div#home-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div#bababoi{
    background-color: blue;
    width: 400px;
    height: 300px;
}

section#cards a div.item{
    margin: auto;
    width: 150px;
    height: 150px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 20px;
    flex-wrap: wrap;
    margin: 15px 10px;
}

section#cards a div.item div{
    text-align: center;
    font-size: 13pt;
    color: #000008;
    text-decoration: none;
    font-weight: bold;
}
.yellow-home{
    background-color: #f2e029;
    box-shadow: inset -10px 10px 30px 10px #00000055;
}

.pink-home{
    box-shadow: inset -10px 10px 30px 10px #00000055;

    background-color: #f31173;
}

section#cards div.container-home-search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section#cards a div img{
    width: 60px;
}

span#talk{
    text-align: center;
    display: block;
    margin: 15px 0;
    font-size: 25px;
    color: #ffffffb9;
}
@media screen and (max-width: 1001px){
    article.text{
        max-width: 800px;
        min-width: 300px;
        margin: 10px;
    }
}