@charset "UTF-8";

:root{
    --color-theme-light1: ;
    --color-theme-light2: ;
    --color-theme-light3: ;
    --color-theme-light4: ;

    --color-theme-dark1: ;
    --color-theme-dark2: ;
    --color-theme-dark3: ;
    --color-theme-dark4: ;

    --color-theme-ok1: ;/*green*/
    --color-theme-danger2: ;/*yellow*/
    --color-theme-alert3: ;/*red*/
    --color-theme-principal:
}
::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
::-webkit-scrollbar-track {
    background: #111;        /* color of the tracking area */
}
  
::-webkit-scrollbar-thumb {
    background-color: #444;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #111;  /* creates padding around scroll thumb */
}
::-webkit-scrollbar-thumb:hover{
    background-color: #383838; 
}